[Desktop Entry]
Name=Launch ROS - FP
Comment=Launch scripts for MoveIt and Gazebo
Exec=/usr/bin/python3 $HOME/catkin_ws/src/ece383-final-project/launch.py
Terminal=true
Type=Application
Encoding=UTF-8
