<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="disc_holder" params="x:=0 y:=0 z:=0">
        <!-- joint -->
        <joint name="holder_joint" type="fixed">
            <axis xyz="1 0 0" />
            <origin xyz="${x} ${y} ${z}" rpy="1.57 1.57 1.57"/>
            <parent link="world"/>
            <child link="single_disc_holder_link"/>
        </joint>

        <!-- holder -->
        <link name="single_disc_holder_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://ece383-final-project/meshes/visual/single_disc_holder.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="">
                    <color rgba="0 0 1 1" />
                </material>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://ece383-final-project/meshes/visual/single_disc_holder.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>

            <inertial>
                <mass value="10" />
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
            </inertial>
        </link>

        <gazebo reference="single_disc_holder_link">
            <material>Gazebo/Blue</material>
        </gazebo>
    </xacro:macro>
</robot>