<?xml version="1.0"?>
<robot>
    <!-- token -->
    <link name="token_link">
        <visual>
            <origin xyz="-0.016 0.016 0" rpy="1.57 0 0" />
            <geometry>
                <mesh filename="package://ece383-final-project/meshes/visual/token.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="">
                <color rgba="1 1 0 1" />
            </material>
        </visual>

        <collision>
            <origin xyz="-0.016 0.016 0" rpy="1.57 0 0" />
            <geometry>
                <mesh filename="package://ece383-final-project/meshes/visual/token.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>

        <inertial>
            <mass value="1" />
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="1e-1" ixy="0" ixz="0" iyy="1e-1" iyz="0" izz="1e-1" />
        </inertial>
    </link>

    <gazebo reference="token_link">
        <material>Gazebo/Yellow</material>
    </gazebo>
</robot>